<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <main class="bg-background">
    <div class="text-center py-5 text-primary fw-bold">
      <h3>Police Clearance Certificate (PCC)</h3>
      <p>For applications under Dhaka, it will take 7 working days.</p>
      <p>For applications outside Dhaka, it may take 15 working days or more.</p>
    </div>
    <section class="w-75 mx-auto bg-white">
      <div class=" bg-background bg-heading text-dark p-2">
        <h5 class="fw-normal border border-2">Purpose of Police Clearance</h5>
      </div>
      <div class="container py-4">
        <div class="row">
          <div class="col-4">
            <p class="text-end">Purpose :</p>
          </div>
          <div class="col-8 text-uppercase">
            <%= goAbroad %>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p class="text-end">Country of Travel :</p>
          </div>
          <div class="col-8">
            <%= countryofTravel %>
          </div>
        </div>
      </div>
    </section>
    <section class=" w-75 mx-auto mt-5 bg-white ">
      <div class="p-2 bg-background bg-heading text-dark">
        <h5>Personal Information</h5>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">PASSPORT NO :</p>
        </div>
        <div class="col-8">
          <%= passportNo %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Issuing Country :</p>
        </div>
        <div class="col-8 text-uppercase">
          <%= issuingCountry %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Issuing Date :</p>
        </div>
        <div class="col-8">
          <%= issuingDate %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Issuing Place :</p>
        </div>
        <div class="col-8 text-uppercase">
          <%= issuingPlace %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Expiry Date :</p>
        </div>
        <div class="col-8">
          <%= expiryDate %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Mobile No :</p>
        </div>
        <div class="col-8">
          <%= mobileNo %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Email :</p>
        </div>
        <div class="col-8">
          <%= email %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">NID :</p>
        </div>
        <div class="col-5">
          <%= Nid %>
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Father Name :</p>
        </div>
        <div class="col-8 text-uppercase">
          <%= fatherName %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Father's/Husband : <br><span class="text-end mx-3">Name</span> </p>
        </div>
        <div class="col-8">
          <%= fatherHusbandname %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Relation :</p>
        </div>
        <div class="col-2 text-uppercase">
          <%= relation %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Mother's Name :</p>
        </div>
        <div class="col-8 text-uppercase">
          <%= motherName %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Date of Brith :</p>
        </div>
        <div class="col-8">
          <%= dateBrith %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Solutation :</p>
        </div>
        <div class="col-8 text-uppercase">
          <%= solutation %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-4">
          <p class="text-end">Photo :</p>
        </div>
        <div class="col-8">
        </div>
      </div>
      <!-- <div class="row p-5 ">
        <div class="col-6 ">
          <a class="btn btn-primary" href="/">Back</a>
        </div>
        <div class="text-end col-6">
          <button class="btn btn-primary" type="button">Next</button>
        </div>
      </div> -->
      <div class="row p-5 text-center">
        <div class="col">
          <a class="btn btn-primary" href="/">Edit Profile</a>
        </div>      
    </section>
<div class="py-5">
</div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>